<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h1>The Home Page</h1>
<p>Lorem ipsum jkasdhf asjkdajk asjaksj k k k jhb ljkhg kjhg hj vhgv jv v ufvlk gvkh gfvkjh gvkug khjgv kjhv jkh vkjgh vkjgh vk  jhvb jh jh j j h vbjkh jhv hjkg vkhjg vkhg kjghv kjghv kjhg vkhg vkhgvkhg h h gvc hgv hgcvh   gvjhg jkhg jkghv kjhvk </p>
<p>Lorem ipsum jkasdhf asjkdajk asjaksj k k k jhb ljkhg kjhg hj vhgv jv v ufvlk gvkh gfvkjh gvkug khjgv kjhv jkh vkjgh vkjgh vk  jhvb jh jh j j h vbjkh jhv hjkg vkhjg vkhg kjghv kjghv kjhg vkhg vkhgvkhg h h gvc hgv hgcvh   gvjhg jkhg jkghv kjhvk </p>

<%- include('partials/foot')%>
